* {
    font-family: 'Bona Nova', serif;
}


/* INDEX CSS */





.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding-bottom: 20vh;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .img-carousel {
    height: 40vh;
    width: max-content;
  }
  

  #carouselExample {
    
    height: 20px;
    
  }

.carousel-control-prev {
    height: 8px;
    margin-top: 20vh;
    font-size: 0px;
    background-color: none;
    margin-right: 30px;
}
.carousel-control-prev-icon{
    color: #388e3c;
    background-color: #a28f13;
}


  



/*PRECIOS */

  
body .price{
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  .prices-wrapper {
    max-width: 960px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .prices-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .price-card {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(to bottom, #ffcccc, #ff8080);
  }
  
  .price-title {
    font-size: 24px;
    margin-top: 0;
  }
  
  .price-description {
    font-size: 16px;
  }
  
  .price {
    font-size: 36px;
    margin: 20px 0;
  }
  
  .price-button {
    display: inline-block;
    background-color: #a28f13;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .price-button:hover {
    background-color: #388e3c;
  }
  


/* FOOTER CSS */


  
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    bottom: 0;
    width: 100%;

  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .footer ul {
    display: flex;
    margin: 10px 0 0;
    padding: 0;
  }
  
  .footer ul li {
    list-style: none;
    margin-right: 10px;
  }
  
  .footer ul li:last-child {
    margin-right: 0;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer i {
    font-size: 24px;
  }


/* EMPRESAS CSS */

.conteiner-empresas {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .col-6 {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
  }
  
 
  

  
.img-empresas {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .conteiner-empresas {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
  }
  
  .text-empresas {
    width: 50%; 
    padding-right: 20px; 
  }
  
  .img-empresas img {
    width: 100%; 
  }
    
  .boton-registro {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  


/* CONTACTO CSS */

form {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    max-width: 400px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .label-form {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .button-form[type="submit"] {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
 


